* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5ebe0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin-top: 5vh;
    font-size: 2rem;
    color: #78290f;
    font-family: 'Cormorant', arial, sans-serif;
    font-weight: bold;
}

header p {
    margin-top: 2vh;
    font-size: 1.2rem;
}

nav {
    background-color: #e3d5ca;
    margin: 5vh 15vw;
    padding: 2rem 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

nav ul a {
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul a:hover {
    background-color: #78290f;
    color: #e3d5ca;
    padding: 0.5rem;
    border-radius: 25%;
}

nav ul a,
#projects .project-container .project-list a,
#contact div i {
    text-decoration: none;
    color: #78290f;
}

section h2 {
    text-align: center;
    font-family: 'Cormorant', arial, sans-serif;
    font-weight: bold;
}

#about div {
    text-align: right;
    line-height: 1.2rem;
    font-size: 1rem;
    margin-bottom: 2vh;
}

#about div span {
    color: #78290f;
    font-family: 'Cormorant', arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
}

#projects .project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

#projects .project-container .project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#projects .project-container .divider {
    width: 3px;
    height: 25vh;
    background-color: #78290f;
}

#projects .project-container .project-list img {
    object-fit: cover;
    width: 150px;
    height: fit-content;
}

#projects .project-container .project-list p {
    margin-top: 1rem;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

#projects .project-container .project-list p:hover {
    background-color: #e3d5ca;
    padding: 5px;
    border-radius: 20%;
}

#skills .skill-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-radius: 20%;
    margin-bottom: 2vh;
}

#skills .skill-list div {
    background-color: #78290f;
    color: #e3d5ca;
    padding: 0.5rem;
    border-radius: 25%;
}

#contact div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact div i {
    font-size: 2rem;
    margin: 5vh 0;
}

#contact div i:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    color: ;
    background-color: #e3d5ca;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 780px) {

    #projects .project-container .project-list img {
        object-fit: cover;
        max-width: 250px;
        max-height: fit-content;
    }

    #about div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        margin: 0 auto;
        line-height: 1.2rem;
        font-size: 1.2rem;
    }

    #projects .project-container,
    #contact div {
        margin: 0 15vw;
    }
}