:root {
    --bg-color: #e9edc9;
    --text-color: #283618;
    --nav-bg-color: #d4a373;
    --footer-bg-color: #d4a373;
    --accent-color: #ca6702;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.darkTheme {
    --bg-color: #1f241b;
    --text-color: #e9edc9;
    --nav-bg-color: #3a2f24;
    --footer-bg-color: #3a2f24;
    --accent-color: #ddb892;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: var(--nav-bg-color);
    opacity: 90%;
}

header h1 {
    margin-left: 1rem;
    font-size: 2rem;
    color: #78290f;
    font-family: 'Cormorant', arial, sans-serif;
    font-weight: bold;
}

header nav {
    padding: 1rem 0;
}

header nav ul {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header nav ul a {
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul a:hover {
    background-color: #78290f;
    color: #e3d5ca;
    padding: 0.5rem;
    border-radius: 25%;
}

header nav ul a,
#hero .credential button a,
#hero .credential button,
#projects .project-container .project-list a,
#contact div i {
    text-decoration: none;
    color: #78290f;
}

header nav ul li button {
    color: #78290f;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25%;
    padding: 5px;
}

header nav ul li button:hover {
    background-color: #78290f;
    color: #e3d5ca;
}

#hero {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero .intro h2,
#hero .intro h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
}

#hero .intro span,
#about .writeUp p span {
    color: var(--accent-color);
}

#hero .intro span {
    font-size: 2rem;
}

#hero .intro p {
    width: 40vw;
    font-size: 1rem;
}

#hero .credential button {
    padding: 1rem 0.7rem;
    width: 15vw;
    border-radius: 35%;
    border: 2px solid var(--accent-color);
}

section h2 {
    text-align: center;
    font-family: 'Cormorant', arial, sans-serif;
    font-weight: bold;
    color: var(--accent-color);
}

#about div {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#projects .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#projects .project-container .project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects .project-container .project-list img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 12px;
    object-fit: cover;
    width: 150px;
    height: fit-content;
}



#projects .project-container .project-list p {
    margin-top: 1rem;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

#projects .project-container .project-list p:hover {
    background-color: var(--text-color);
    padding: 5px;
    border-radius: 20%;
}

#skills .skill-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 80vh;
}

#skills .skill-list .skill {
    display: flex;
    flex-direction: column;
}

#skills .skill-list .skill .skill-bar1 {
    width: 8vw;
    height: 70vh;
    background-color: #78290f;
}

#skills .skill-list .skill .skill-bar2 {
    width: 8vw;
    height: 70vh;
    background-color: var(--accent-color);
}

#skills .skill-list .skill .skill-bar3 {
    width: 8vw;
    height: 50vh;
    background-color: #78290f;
}

#skills .skill-list .skill .skill-bar4 {
    width: 8vw;
    height: 60vh;
    background-color: var(--accent-color);
}

#skills .skill-list .skill p {
    text-align: center;
}

#contact div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact div i {
    font-size: 2rem;
    margin: 5vh 0;
}

#contact div i:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    color: ;
    background-color: var(--footer-bg-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 780px) {

    #projects .project-container .project-list img {
        object-fit: cover;
        max-width: 250px;
        max-height: fit-content;
    }

    #about div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        margin: 0 auto;
        line-height: 1.2rem;
        font-size: 1.2rem;
    }

    #projects .project-container,
    #contact div {
        margin: 0 15vw;
    }
}